.card{
    background-color: #f6f0da;
    border: 1px solid #5d6f67;
    border-radius: 10px;
    text-align: center;
}

.card p, .card #description{
    color: #3a5250;
    margin:  0.3rem 0;
}

.card #description{
    text-transform: capitalize;
    font-size: 1.5rem;
}
.card p{
    font-size: 2rem;
    color: #537279;
}
.card #current-temp{
    font-size: 2rem;
    color: #537279;
    margin: 0.3rem 0;

}