*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    text-align: center;
    margin-bottom: 0.5rem;
    color: #29008a;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

section{
    background-color: #ffc400;
    padding: 5rem;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 0.2rem;
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

section h2{
    color: #29008a;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 1.6rem;
}
section p{
    margin-bottom: 0.5rem;
    color: #333;
}
section img{
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 0 30px #575656;

}

footer{
    text-align: center;
    font-size: 1.5rem;
    background-color: #483700;
    padding: 2rem;
    color: #fff
}

span p{
    font-size: 20rem;
}

@media only screen and (min-width: 32rem) {
     span {font-size: 20rem};
}